@import "bootstrap";

input[type="file"] {
height: 30px;
line-height: 17px;
}

.btn {
margin-bottom: 10px;
}

#bookmarklet, #visit, #upload{
	display:none;
}

.introbox{
	padding-top:75px;
	margin:auto;
	width:750px;
	font-size:50px;
	line-height:60px;
	font-weight:200;
}

#next1, #next2, #next3{
	float:bottom;
}
input[type="text"]{
	height:34px;
}

#error{
	margin:auto;
	width:750px;
	color:red;
}

.movies{
	margin:auto;
	width:750px;
	font-size:30px;
	padding-top:50px;
	line-height:35px;
}
.details{
	font-weight:200;
	display:inline;
}
.icon-arrow-left {
background-position: -240px -93px;
}
#signin_form{
	float:right;
	display:none;
}
#signin_form form{
	margin:0 !important;
	padding-top:6px;
}

#name {
height: 20px;
line-height: 20px;
width:200px;
margin-top:0px;
margin-bottom:0px;
}

.navbar .btn{
	margin:0 !important;
}